/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

html {
  font-size: medium;

}


/******************************************
/* nav
/*******************************************/
nav{
  float:left;
  width: 16%;
  margin-left: 20px;
  margin-right: 20px;
  /* background-color: brown; */
  padding: 0;
}
nav *{
  
  display: block;
  color:gray;
  text-decoration: none;

}

nav ul{
  margin: 0px;
  padding: 0;
}
nav img{
  height: 5em;
  width:100%;
  margin-top: 1em;
}
/******************************************
/* main
/*******************************************/
main{
  float: left;
  width: 50%;
  /* border: 1px solid black; */
}
h2{
  color:orange;
  font-size: .7rem;
  
}
main img{
  width: 100%;
  height:20em;
}
/******************************************
/* Aside
/*******************************************/

aside{
  float: left;
  width: 26%;
  /* border: 1px solid black; */
  margin: .5% 2%;
  
}
aside section:not(:last-child){
  border-bottom: 1px solid grey;
}
aside span{
  font-size: .6em;
  
}


